/* div {
	border-width:2px;
	border-style:solid;
	border-color:black;
} */

* {
  margin: 0;
  padding: 0;
}

.question-line {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 45px;
  height: 45px;
}

.circle {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 100%;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.7) inset;
  transition: ease-in-out 0.2s;
}
.question-circle {
  font-size: 12px;
  width: 35px;
  height: 35px;
  background-color: #3998d3;
}
.question-circle:active {
  background-color: #137ec0;
  width: 45px;
  height: 45px;
}
.question-circle:hover {
  width: 40px;
  height: 40px;
}

.line-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 40px;
}
.line {
  display: flex;
  width: 100px;
  height: 12px;
  margin-left: -10px;
  margin-right: -10px;
  background: #137ec0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content h4 {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 14px;
}
.content p {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 14px;
}
.content h5 {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 13px;
}
.contentBlock {
  display: block;
  width: fit-content;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #f5f6f8;
  overflow-wrap: break-word;
  word-break: break-word;
}

.answer {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  height: 50px;
}
.answer-circle {
  width: 40px;
  height: 40px;
  font-size: 12px;
}
.answer-circle:hover {
  width: 45px;
  height: 45px;
}
.yes-circle {
  background-color: #48a044;
}
.no-circle {
  margin-left: 10px;
  background-color: #cd222c;
}

.number-circle {
  width: 20px;
  height: 20px;
  cursor: default;
  font-size: 10px;
  background-color: #3998d3;
  position: relative;
  left: 10px;
  top: -70px;
}
